<p>product-add works!</p>
<form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="userName" [(ngModel)]="product.name" placeholder="Name product" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Price</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="mobile" [(ngModel)]="product.price" placeholder="Price product" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Desc</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <textarea formControlName="comment" [(ngModel)]="product.desc" nz-input rows="2" placeholder="Desc product"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>
</form>