<p>product-add works!</p>
<form nz-form [formGroup]="validateForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
        <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
            <input nz-input formControlName="userName" [(ngModel)]="product.name" placeholder="async validate try to write JasonWood" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Mobile</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="mobile" [(ngModel)]="product.price" placeholder="mobile" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <textarea formControlName="comment" [(ngModel)]="product.desc" nz-input rows="2" placeholder="write any thing"></textarea>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
    </nz-form-item>
</form>