<p>product works!</p>
<nz-table #basicTable>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList;let i = index">

            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.desc}}</td>
            <td>
                <button nz-button nzType="primary" (click)="onRemoveItem(product.id!)">Delete</button>
                <nz-divider nzType="vertical"></nz-divider>
                <a href="admin/product/edit/{{product.id}}">update</a>
            </td>
        </tr>
    </tbody>
</nz-table>